:root {
  --brand-color_1: #00ff99;
  --brand-color_2: #00ccff;
  --brand-color_3: #9933ff;
  --brand-color_4: #ff6347;
  --brand-color_5: #fff35c;
  --brand-color_6: #8429de;
  --brand-color_1-hover: #00ff9988;
  --brand-color_2-hover: #00ccff70;
  --brand-color_3-hover: #9933ff80;
  --brand-color_4-hover: #ff634779;
  --brand-color_5-hover: #fff45c77;
  --brand-color_6-hover: #8429de71;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
}
